/*
	// ------- Tabla de Contenidos ------- //
	
	* Estilos Globales
	  * Estilo 1
	  * Footer 
	* Estilos del Home
	* Estilos de la sección Productos
	* Estilos de la sección Proyectos

/*

/* ---------------- Estilos Globales ---------------- */

*{
	margin: 0;
	overflow: hidden;
	padding: 0;
}

@font-face {
    font-family: 'happy_monkeyregular';
    src: url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.eot');
    src: url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.woff2') format('woff2'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.woff') format('woff'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.svg#happy_monkeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaregular';
    src: url('../Fonts/karla/Karla-Regular-webfont.eot');
    src: url('../Fonts/karla/Karla-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/karla/Karla-Regular-webfont.woff2') format('woff2'),
         url('../Fonts/karla/Karla-Regular-webfont.woff') format('woff'),
         url('../Fonts/karla/Karla-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/karla/Karla-Regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: "karlaregular";
}

footer{
    background-color: #4C4C4B; /* Irá con degradado este footer era una prueba para verificar la conección con la hoja de estilos, pero debe quedarse allí*/
    padding: 3px 0;
}


/* ---------------- Estilos del Home ---------------- */
.header-home{
    background: url(../img/Background-Example.jpg) no-repeat center;
	background-size: cover;
	height: 900px;
}

.logo{
	width: 400px;
}

.header-nav{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(65,65,65,0.53)), to(rgba(155,155,155,0.90)));
}

.first-nav{

}

.first-nav a{
	color: #fff;
	font-size: 1.41rem;
	text-decoration: none;
}


.first-li{
	display:inline-block;
	font-family: 'happy_monkeyregular';
	list-style: none;
	margin: 0px 30px 0px 30px;
	margin-bottom: 35px;
}

.li-logo{
	display:inline-block;
	margin: 0;
}

.first-li a:hover {
	color: #9FC559;

}

.sub-menu a{
	color: #5a5a5a;
	font-size: 1.2rem;
}
.sub-menu a:hover{
	color: #73844f;
	font-size: 1.2rem;
}


.sub-menu li{
	font-size: 1.2rem;
	display:block;
	margin-bottom: 15px;
}

.sub-menu{
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	display: none;
	margin-left: -17px;
	padding: 11px;
	position: fixed;
}

.first-li:hover ul{
	display: block;
}

.first-nav li:hover{
	border-bottom: 1px solid  #9FC559;
}


/* ---------------- Estilos de la sección Productos ---------------- */

.header-products, .section-content{
	background-color: #404242;
}

.section-content{
	padding: 30px 5%;
}

.section-content > h2{
	font-family: 'happy_monkeyregular';
	font-size: 2rem;
}

.section-content > p{
	font-size: 1.4rem;
	padding: 20px 0 30px 0;
}

.section-content > h2, .section-content > p{
	margin: 0 auto;
	text-align: center;
	width: 70%;
}

.title-header-products{
	padding: 30px 5%;
}

.title-header-products h1{
	font-size: 2.3rem;
	margin: 30px 0;
}

.title-header-products p{
	font-size: 1.4rem;
}

/* ---------------- Estilos de la sección Proyectos ---------------- */