/*
	// ------- Tabla de Contenidos ------- //
	
	* Estilos Globales
	  * Estilo 1
	  * Footer 
	* Estilos del Home
	* Estilos de la secci贸n Productos
	* Estilos de la secci贸n Proyectos

/*

/* ---------------- Estilos Globales ---------------- */

*{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'happy_monkeyregular';
    src: url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.eot');
    src: url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.woff2') format('woff2'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.woff') format('woff'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/happy_monkeyregular/HappyMonkey-Regular-webfont.svg#happy_monkeyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'karlaregular';
    src: url('../Fonts/karla/Karla-Regular-webfont.eot');
    src: url('../Fonts/karla/Karla-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/karla/Karla-Regular-webfont.woff2') format('woff2'),
         url('../Fonts/karla/Karla-Regular-webfont.woff') format('woff'),
         url('../Fonts/karla/Karla-Regular-webfont.ttf') format('truetype'),
         url('../Fonts/karla/Karla-Regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a{
	text-decoration: none;
}

body{
    font-family: "karlaregular";
}

footer{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1,1,1,0.73)), to(rgba(150,155,155,0.9)));
	padding: 42px 5% 115px 5%;
}

footer img{
	float: left;
}

ul{
	list-style: none;
}

.contacts, .social-network{
	width: 40%
}

.contacts, .logo-central{
	float: left;
}

.foot-facebook{
	background: url(../img/facebook-footer.png)no-repeat top center;
	background-size: 43px;
}

.foot-facebook:hover{
	background: url(../img/facebook-footer-hov.png)no-repeat top center;
	background-size: 43px;
}

.foot-twiter{
	background: url(../img/twitter-footer.png)no-repeat top center;
	background-size: 43px;
}

.foot-twiter:hover{
	background: url(../img/twitter-footer-hov.png)no-repeat top center;
	background-size: 43px;
}

.social-network{
	float: right;
	margin: 30px 0 0 0;
}

.social-network li{
	float: right;
	width: 58px;
	padding: 15px 8px;
}

.social-network a{
	color: rgba(255,255,255,0);
}

.contacts p{
	margin: 20px 0;
}

.contacts p a{
	color: #FFF;
}

.contacts p a:hover{
	color: #9FC559;
}

.logo-central{
	margin: 15px 0 0 0;
}

.logo-footer{
	width: 230px;
}


/* ---------------- Estilos del Home ---------------- */
.header-home{
    background: url(../img/Background-Example.jpg) no-repeat center;
	background-size: cover;
	height: 900px;
}

.logo{
	width: 400px;
}

.header-nav{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(65,65,65,0.53)), to(rgba(155,155,155,0.90)));
}

.first-nav{

}

.first-nav a{
	color: #fff;
	font-size: 1.41rem;
	text-decoration: none;
}


.first-li{
	display:inline-block;
	font-family: 'happy_monkeyregular';
	margin: 0px 30px 0px 30px;
	margin-bottom: 35px;
}

.li-logo{
	display:inline-block;
	margin: 0;
}

.first-li a:hover {
	color: #9FC559;

}

.sub-menu a{
	color: #5a5a5a;
	font-size: 1.2rem;
}
.sub-menu a:hover{
	color: #73844f;
	font-size: 1.2rem;
}


.sub-menu li{
	font-size: 1.2rem;
	display:block;
	margin-bottom: 15px;
}

.sub-menu{
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	display: none;
	margin-left: -17px;
	padding: 11px;
	position: fixed;
}

.first-li:hover ul{
	display: block;
}

.first-nav li:hover{
	border-bottom: 1px solid  #9FC559;
}


/* ---------------- Estilos de la secci贸n Productos ---------------- */

.header-products, .section-content{
	background-color: #344C53;
}



.title-header-products{
	padding: 30px 5%;
}

.title-header-products h1{
	font-size: 2.3rem;
	margin: 30px 0;
}

.title-header-products p{
	font-size: 1.4rem;
}
.section-content{
	padding: 30px 5%;
}

.section-content > h2{
	font-family: 'happy_monkeyregular';
	font-size: 2rem;
}

.section-content > p{
	font-size: 1.4rem;
	padding: 20px 0 30px 0;
}

.section-content > h2, .section-content > p{
	margin: 0 auto;
	text-align: center;
	width: 70%;
}



/* ---------------- Estilos de la secci贸n Proyectos ---------------- */